/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  /*General Styles */ 

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #EFEFF0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 1.125em;
  text-decoration: none;
  color: #542222;
  width: 100%;
}

a:hover {
  color: #FFFFFF;
  }

p {
  line-height: 1.285em;
  font-size: 1.125em;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/* ------ Base Header - Footer Styles ----------*/

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ------- Header ------*/

header {
  background: url('../img/aletsch-arena2.png') center no-repeat #999;
  background-size: cover;
  background-attachment: fixed;
  min-height: 900px;
}

header .content-wrapper {
  width: 80%;
  display: flex;
  background-color: #542B2C;
  opacity: 85%;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px 0 0 0;
}

header nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

header nav ul li {
  text-transform: uppercase;
  font-weight: bold;
  color: #542222;
  background: #FFFFFF;
  opacity: 90%;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 5px;

}

header nav ul li:hover {
  background: #542222;
}

#portfolio-button {
  background: #532121;
}

#portfolio-button a {
  color:#FCFDFD;
}

#portfolio-button:hover {
  background: #FCFDFD;
}

#portfolio-button a:hover {
  color: #542222;
}

header .intro {
  font-family: 'Roboto Slab', serif;
  padding: 40px 10px 60px 10px;
  margin: 0;
}

header span {
  font-weight: bold;
}

.down-button a {
  border-radius: 50%;
}

.down-button a:hover .down-arrow {
  border: 0.4em solid #532121;
}

.down-button a:hover .down-arrow:after {
  border-top: 0.4em solid #532121;
  border-right: 0.4em solid #532121;
}

.down-arrow {
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid #542B2C;
  border-radius: 50%;
  display: flex;
  margin-top: 250px;
}

.down-arrow:after {
  content: '';
  display: inline-block;
  margin-top: 0.4em;
  margin-left: 0.6em;
  width: 1em;
  height: 1em;
  border-top: 0.4em solid #542B2C;
  border-right: 0.4em solid #542B2C;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* ------ Mobile Styles - Homepage ---------*/

/*Hero area*/

header .hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 100px;
}

/*Portfolio*/

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#portfolio .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px 0 50px 0;
}

#portfolio .title-wrapper {
  color: #707070;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.title-wrapper .underline {
  width: 130px;
  border-bottom: 2px solid #707070;
}

.tag-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin: 40px 0 20px 0;
}

.tag-wrapper button {
  background: #775B5B;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 0.6em 0.5em;
  text-transform: uppercase;
}

.thumbnails-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.thumbnails-wrapper figure {
  max-width: 450px;
  margin: 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnails-wrapper img {
  border-radius: 16px;
}

.overlay {
  background-color: #FCFDFD;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .5s ease;
}

.thumbnails-wrapper .overlay a {
  background-color: #542B2C;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}


.thumbnails-wrapper .overlay a i {
  font-size: 1.3125em;
  color: #EFEFF0;
}

.thumbnails-wrapper .overlay:hover {
  opacity: 1;
  border: 2px solid #775B5B;
  border-radius: 16px;
}

.thumbnails-wrapper .overlay a:hover {
  color:#775B5B;
}

  /*About*/

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #4E6C54;
}

#about .content-wrapper {
  width: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#about article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#about figure {
  max-width: 450px;
}

#about h1 {
  margin-bottom:30px;
  width: 100%;
}

#portrait img {
border-radius: 16px;
}

#about p {
  margin: 10px 0;
  padding: 20px 0;
  max-width: 450px;
}

  /*Footer*/

footer {
  background: url('../img/aletsch-arena2.png') center no-repeat #999;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  text-align: center;
}

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 300px;
}

#contact h1 {
  border-radius: 16px;
  background-color: #775C5E;
  padding: 5px 15px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

footer .social-icons p a {
  background-color: #EFEFF0;
  color: #542B2C;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons p a:hover {
  color: #775C5E;
}

footer .social-icons p i {
  font-size: 1.3125em;
}

#email {
  margin-top: 40px;
}

#email a {
  color: #ccc;
  font-weight: bold;
  border-radius: 16px;
  background-color: #775C5E;
  padding: 5px 15px;
}

#email a:hover {
  color: #FCFDFD
}

.copyright {
  width: 100%;
  margin: 0;
  background-color: #FCFDFD;
  opacity: 70%;
}

.copyright p {
  margin: 0;
  font-size: 0.875em;
  color: #707070
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet Styles here */

  /* General styles */

   h1 {
     font-size: 2em;
   } 

   a {
     font-size: 1.25em;
   }

  /*Header*/
  header .content-wrapper {
    width: 60%;
  }

  header nav ul {
    justify-content: space-between;
    flex-flow: row wrap;
    width: 60%; 
  }

  .intro {
    font-size: 1.5em;
  }

  .down-button {
    margin-top: 170px;
  }

  /*Portfolio*/

  .title-wrapper .underline {
    width: 170px;
   }

  #portfolio .tag-wrapper {
    max-width: 600px;
  }

  .tag-wrapper button {
    font-size: 1.25em;
  }

  #portfolio figure {
    flex-basis: 40%;
    margin: 10px;
  }

  .thumbnails-wrapper .overlay a {
    width: 80px;
    height: 80px;
  }
  
  
  .thumbnails-wrapper .overlay a i {
    font-size: 1.5em;
  }

  /*About*/

  #about .content-wrapper article {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    
  }

  #about figure, #about p {
    width: 50%;
    margin: 0 10px;
  }

  #about p {
    max-width: 400px;
  }
} 

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/

  /*General Styles*/

  p {
    font-size: 1.5em;
  }

  /*Portfolio*/

  #portfolio .tag-wrapper {
    max-width: 900px;
  }

  #portfolio figure {
    flex-basis: 30%;
    margin: 10px;
  }

  #portfolio figure #dorothy, #portfolio figure #wordpress {
    flex-basis: 100%;
  }

  /*About*/

  #about .content-wrapper h1 {
    text-align: center;
  }

  #about p {
    max-width: 600px;
  }

  /*Footer*/
  
  .social-icons {
    width: 100%;
  }

  footer .social-icons p a {
    width: 50px;
    height: 50px;
    font-size: 1.125em
  }

  #email a {
    font-size: 1.375em;
  }

  

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

